html {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: Helvetica;
}

.App {
  text-align: center;

	&-content {
		background-color: #282c34;
		min-height: 100vh;
		font-size: calc(10px + 2vmin);
		color: white;

		form {
			padding: 3rem 0;
			display: block;

			input[type=text] {
				border-radius: 0;
				box-shadow: none;
				box-sizing: border-box;
				transition: 300ms all ease-in-out;
				outline: 0;
				border: 0;
				font-size: 1rem;
				padding: 0.5rem;
				background-color: white;
			}
		}

		button {
			transition: 300ms all ease-in-out;
			outline: 0;
			border: 0;
			background-color: #cc0000;
			color: white;
			padding: 0.5rem 1rem;
			text-decoration: none;
			cursor: pointer;
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;

			&:hover {
				background-color: darken(#cc0000, 5);
			}
		}

		.profile {
			display: block;

			&-image,
			&-info {
				display: inline-block;
				margin: 1rem;
			}
			
			&-image {
				max-width: 300px;

				img {
					max-width: 100%;
				}
			}

			&-info {
				vertical-align: top;
				text-align: left;

				h1 {
					margin: 0 0 1rem;
					font-size: 2rem;
				}

				h2 {
					margin: 0 0 1rem;
					font-size: 1.2rem;
				}

				p,
				span {
					font-size: 1rem;
				}

				.ml-1 {
					margin-left: 1rem;
				}
			}
		}
	}
}
